@function em($target, $context: $base-font-size) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0;
}

@mixin scale($property, $values) {
  // Create a couple of empty lists as output buffers.
  $px-values: ();
  $rem-values: ();
  // Loop through the $values list
  @each $value in $values {
    // For each property value, if it's in rem or px, derive both rem and
    // px values for it and add those to the end of the appropriate buffer.
    // Ensure all pixel values are rounded to the nearest pixel.
    @if $value == 0 or $value == 0px {
      // 0 -- use it without a unit
      $px-values: join($px-values, 0);
      $rem-values: join($rem-values, 0);
    }
    @else if type-of($value) == number and not unitless($value) and unit($value) == px {
      // px value given - calculate rem value from base-font-size
      $new-rem-value: $value / $base-font-size;
      $px-values: join($px-values, round($value));
      $rem-values: join($rem-values, #{$new-rem-value}rem);
    }
    @else {
      // unitless value - use those directly as rem and calculate the px-fallback
      $px-values: join($px-values, round($value * $base-font-size));
      $rem-values: join($rem-values, #{$value}rem);
    }
  }
  // output the converted rules
  #{$property}: $px-values;
  #{$property}: $rem-values;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin opacity($trans) {
  filter: alpha(opactiy = $trans * 100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}

@mixin font-icons {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  speak: none;
}

@mixin font-lubalin {
  font-family: 'LubalinGraphStd';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
}

@mixin font-proxima_nova {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
}

@mixin light {
  font-weight: 300;
}

@mixin semibold {
  font-weight: 600;
}

@mixin placeholder($color) {
  &:focus {
    outline: 0 none;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &.placeholder {
    color: $color;
  }
}

@mixin element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

// On retina, use image that's scaled by 2.
@mixin background-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

$base-font-size: 16px;

@function calculate-rem($size) {
  $rem-size: $size / $base-font-size;
  @return #{$rem-size}rem;
}

%basic-format-text {
  @include scale(font-size, 14px);
  h2 {
    @include scale(font-size, 16px);
    @include scale(margin-bottom, 10px);
    @include scale(margin-top, 15px);
  }
  h3 {
    @include scale(font-size, 14px);
    font-weight: bold;
  }
  p {
    @include scale(line-height, 20px);
    @include scale(margin-bottom, 5px);
    img {
      @include scale(margin, 15px 0);
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  ul,
  ol {
    list-style-type: disc;
    @include scale(margin-bottom, 10px);
    @include scale(padding-left, 20px);
    &.links {
      padding-left: 0;
    }
    li {
      @include scale(line-height, 20px);
      @include scale(margin-bottom, 5px);
    }
  }
}

//Setting svg/png file, '$name-file',  as background image, rescaling img for '$zoom: true'

@mixin dynamic-img($name-file){
  &:before{
    content:'';
    @include background(image-url("../images/#{$name-file}.png") no-repeat center center);
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    background-image: url("../images/#{$name-file}2x.png");
    background-size: 49px 60px;
    }
  }
}

//Automated sprite creator
//USAGE: @include sprite-background(down_open_mobile);

@mixin sprite-background($name) {
  background-image: sprite-url($sprites);
  background-position: sprite-position($sprites, $name);
  background-repeat: no-repeat;
  display: block;
  @include scale(height, image-height(sprite-file($sprites, $name)));
  @include scale(width, image-width(sprite-file($sprites, $name)));
}