 <main class="main">
  <section class="sec-header" id="RailsGirls">
    <div class="sec-header-logo">
      <%= image_tag 'logo_red.png', alt: 'RailsGrils Chisinau' %>
    </div>
    <div class="sec-header-period">
      <p>9-24 Mai 2014</p>
      <a href="aplica.html" class="btn btn-apply">Aplică</a>
    </div>
  </section>

  <section class="sec-about mini-slide" id="Despre">
    <ul>
      <li class="calendar active">Durată</li>
      <li class="reason">Scop</li>
      <li class="why">De ce să particip?</li>
      <li class="money">Cost</li>
      <li class="mentors">Mentori</li>
      <li class="who">Cine poate participa?</li>
    </ul>

    <select>
      <option selected="selected">Durată</option>
      <option>Scop</option>
      <option>De ce să particip?</option>
      <option>Cost</option>
      <option>Mentori</option>
      <option>Cine poate participa?</option>
    </select>

    <div class="sec-about-text">
      <p>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit massa nunc, eu cursus magna ullamcorper vel. Quisque molestie ipsum tincidunt metus gravida consequat. Vivamus iaculis iaculis turpis, at venenatis dui tincidunt ut. Proin consequat ac elit non placerat. Nullam ex arcu, mollis vel interdum eget, rutrum vel lacus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin a tortor sit amet metus iaculis accumsan. Pellentesque dapibus magna eu ipsum porttitor,</p>
    </div>

    <div class="sec-about-text">
      <p>2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit massa nunc, eu cursus magna ullamcorper vel. Quisque molestie ipsum tincidunt metus gravida consequat. Vivamus iaculis iaculis turpis, at venenatis dui tincidunt ut. Proin consequat ac elit non placerat. Nullam ex arcu, mollis vel interdum eget, rutrum vel lacus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin a tortor sit amet metus iaculis accumsan. Pellentesque dapibus magna eu ipsum porttitor,</p>
    </div>

    <div class="sec-about-text">
      <p>3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit massa nunc, eu cursus magna ullamcorper vel. Quisque molestie ipsum tincidunt metus gravida consequat. Vivamus iaculis iaculis turpis, at venenatis dui tincidunt ut. Proin consequat ac elit non placerat. Nullam ex arcu, mollis vel interdum eget, rutrum vel lacus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin a tortor sit amet metus iaculis accumsan. Pellentesque dapibus magna eu ipsum porttitor,</p>
    </div>

    <div class="sec-about-text">
      <p>4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit massa nunc, eu cursus magna ullamcorper vel. Quisque molestie ipsum tincidunt metus gravida consequat. Vivamus iaculis iaculis turpis, at venenatis dui tincidunt ut. Proin consequat ac elit non placerat. Nullam ex arcu, mollis vel interdum eget, rutrum vel lacus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin a tortor sit amet metus iaculis accumsan. Pellentesque dapibus magna eu ipsum porttitor,</p>
    </div>

    <div class="sec-about-text">
      <p>5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit massa nunc, eu cursus magna ullamcorper vel. Quisque molestie ipsum tincidunt metus gravida consequat. Vivamus iaculis iaculis turpis, at venenatis dui tincidunt ut. Proin consequat ac elit non placerat. Nullam ex arcu, mollis vel interdum eget, rutrum vel lacus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin a tortor sit amet metus iaculis accumsan. Pellentesque dapibus magna eu ipsum porttitor,</p>
    </div>

    <div class="sec-about-text">
      <p>6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit massa nunc, eu cursus magna ullamcorper vel. Quisque molestie ipsum tincidunt metus gravida consequat. Vivamus iaculis iaculis turpis, at venenatis dui tincidunt ut. Proin consequat ac elit non placerat. Nullam ex arcu, mollis vel interdum eget, rutrum vel lacus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin a tortor sit amet metus iaculis accumsan. Pellentesque dapibus magna eu ipsum porttitor,</p>
    </div>
  </section>

  <section class="sec-apply" id="Aplica">
    <ul class="sec-apply-list">
      <li class="form"><i></i><span>1.</span> Completează formularul de aplicare</li>
      <li class="interview"><i></i><span>2.</span> participă la interviu</li>
      <li class="acceptance"><i></i><span>3.</span> Confirmă participarea la eveniment </li>
    </ul>

    <div class="sec-apply-btn">
      <a href="aplica.html" class="btn btn-apply">Aplică</a>
    </div>
  </section>

  <section class="sec-contact" id="Contact">
    <h3>Pentru a ne adresa orice întrebare, te rugăm să ne contactezi</h3>
    <div class="sec-contact-info">
        <p class="mail"><i></i><a href="mailto:info@railsgirls.md">info@railsgirls.md</a></p>
        <p class="phone"><i></i>+373 78879001</p>
    </div>
  </section>
</main>