<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  $(document).ready(function() {
    $.ajaxSetup({ cache: true });
    $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
      FB.init({
        appId: '{your-app-id}',
        version: 'v2.3' // or v2.0, v2.1, v2.0
      });
      $('#loginbutton,#feedbutton').removeAttr('disabled');
      FB.getLoginStatus(updateStatusCallback);
    });
  });
</script>

<div class="response-part">
  <p style="font-size: 25px;">Aplicarea dumnevoastră a fost trimisă cu succes</p>
  <p style="margin-top: 20px; font-size: 20px;">Pentru a urmări noutățile, dați un like paginei noastre de eveniment</p>

  <br />
  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="150" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
</div>

<style>
.response-part {
  margin-top: 200px;
  text-align: center;
  font-family: "Titillium Web";
}
</style>