@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0 none;
}

em, i {
  font-style: italic;
}

audio,
canvas,
video {
  display: inline-block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

a img {
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
}

img {
  height: auto;
}

img, object, embed {
  max-width: 100%;
}

a[href*='mailto:'] {
  word-break: break-all;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0 none;
}

em, i {
  font-style: italic;
}

audio,
canvas,
video {
  display: inline-block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

a img {
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
}

img {
  height: auto;
}

img, object, embed {
  max-width: 100%;
}

a[href*='mailto:'] {
  word-break: break-all;
}

@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-content .nav-bottom .nav-fb:before {
  content: "";
}

.nav-icon i:before {
  content: "";
}

html {
  font-size: 16px;
}

html, body {
  background: #f2f0eb;
  font-family: 'Raleway';
  height: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}

.wrapper {
  overflow-x: hidden;
}

.main {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 0 20px;
  padding: 0 1.25rem;
  background: #f2f0eb;
  position: relative;
  z-index: 101;
}
.open-nav .main {
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -webkit-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.sec-header {
  padding: 75px 0;
  padding: 4.6875rem 0;
}

.sec-header-logo {
  -moz-box-shadow: 0 0px 10px -4px #eb524f;
  -webkit-box-shadow: 0 0px 10px -4px #eb524f;
  box-shadow: 0 0px 10px -4px #eb524f;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 320px;
  height: 20rem;
  line-height: 320px;
  line-height: 20rem;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  width: 320px;
  width: 20rem;
  background: #fff;
  text-align: center;
  vertical-align: middle;
}
.sec-header-logo img {
  vertical-align: middle;
}

.sec-header-period {
  text-align: center;
}
.sec-header-period p {
  font-weight: 300;
  font-size: 21px;
  font-size: 1.3125rem;
  padding: 0 0 18px;
  padding: 0 0 1.125rem;
  color: #969696;
  font-family: 'Titillium Web';
  text-transform: uppercase;
}

.sec-about {
  padding: 85px 0;
  padding: 5.3125rem 0;
}
.sec-about > ul {
  margin: 0 0 42px;
  margin: 0 0 2.625rem;
  display: none;
  font-size: 0;
}
.sec-about > select {
  padding: 8px;
  padding: 0.5rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  color: #eb524f;
  width: 100%;
}
.sec-about li {
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 0 20px;
  padding: 0 1.25rem;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Titillium Web';
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 16.66667%;
}
.sec-about li a {
  color: #000;
}
.sec-about li:before {
  content: '';
  margin: 0 auto 15px;
}
.sec-about li.calendar:before {
  padding-bottom: 2px;
  padding-bottom: 0.125rem;
  background-image: url('../images/sprites-sf344647439.png');
  background-position: 0 -126px;
  background-repeat: no-repeat;
  display: block;
  height: 42px;
  height: 2.625rem;
  width: 39px;
  width: 2.4375rem;
}
.sec-about li.reason:before {
  background-image: url('../images/sprites-sf344647439.png');
  background-position: 0 -581px;
  background-repeat: no-repeat;
  display: block;
  height: 43px;
  height: 2.6875rem;
  width: 38px;
  width: 2.375rem;
}
.sec-about li.why:before {
  background-image: url('../images/sprites-sf344647439.png');
  background-position: 0 -740px;
  background-repeat: no-repeat;
  display: block;
  height: 46px;
  height: 2.875rem;
  width: 45px;
  width: 2.8125rem;
}
.sec-about li.money:before {
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  background-image: url('../images/sprites-sf344647439.png');
  background-position: 0 -465px;
  background-repeat: no-repeat;
  display: block;
  height: 27px;
  height: 1.6875rem;
  width: 60px;
  width: 3.75rem;
}
.sec-about li.mentors:before {
  padding-bottom: 4px;
  padding-bottom: 0.25rem;
  background-image: url('../images/sprites-sf344647439.png');
  background-position: 0 -407px;
  background-repeat: no-repeat;
  display: block;
  height: 38px;
  height: 2.375rem;
  width: 42px;
  width: 2.625rem;
}
.sec-about li.who:before {
  padding-bottom: 14px;
  padding-bottom: 0.875rem;
  background-image: url('../images/sprites-sf344647439.png');
  background-position: 0 -684px;
  background-repeat: no-repeat;
  display: block;
  height: 36px;
  height: 2.25rem;
  width: 38px;
  width: 2.375rem;
}
.sec-about li.active {
  font-weight: bold;
}
.sec-about .sec-about-text {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 23px;
  line-height: 1.4375rem;
  color: #000;
}

.sec-apply-list {
  padding: 65px 0;
  padding: 4.0625rem 0;
}
.sec-apply-list li {
  font-size: 21px;
  font-size: 1.3125rem;
  padding: 20px 0;
  padding: 1.25rem 0;
  color: #000;
  text-transform: uppercase;
  vertical-align: middle;
}
.sec-apply-list li span {
  font-size: 27px;
  font-size: 1.6875rem;
}
.sec-apply-list li i {
  width: 170px;
  width: 10.625rem;
  display: none;
  text-align: center;
  vertical-align: middle;
}
.sec-apply-list li i:before {
  content: '';
}
.sec-apply-list li.form i:before {
  background-image: url('../images/sprites-sf344647439.png');
  background-position: 0 -188px;
  background-repeat: no-repeat;
  display: block;
  height: 80px;
  height: 5rem;
  width: 55px;
  width: 3.4375rem;
  display: inline-block;
}
.sec-apply-list li.interview i:before {
  background-image: url('../images/sprites-sf344647439.png');
  background-position: 0 -288px;
  background-repeat: no-repeat;
  display: block;
  height: 45px;
  height: 2.8125rem;
  width: 97px;
  width: 6.0625rem;
  display: inline-block;
}
.sec-apply-list li.acceptance i:before {
  background-image: url('../images/sprites-sf344647439.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 85px;
  height: 5.3125rem;
  width: 62px;
  width: 3.875rem;
  display: inline-block;
}

.sec-apply-btn {
  text-align: center;
}

.sec-contact {
  padding: 60px 0;
  padding: 3.75rem 0;
}
.sec-contact h3 {
  font-weight: 300;
  padding: 0 0 60px;
  padding: 0 0 3.75rem;
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: 'Titillium Web';
  text-align: center;
  text-transform: uppercase;
}

.sec-contact-info {
  font-weight: 300;
  font-family: 'Titillium Web';
}
.sec-contact-info p {
  font-size: 21px;
  font-size: 1.3125rem;
  padding: 10px 0;
  padding: 0.625rem 0;
  color: #000;
  display: inline-block;
  vertical-align: middle;
}
.sec-contact-info p i {
  padding: 0 10px;
  padding: 0 0.625rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.sec-contact-info p i:before {
  content: '';
}
.sec-contact-info p.mail i:before {
  background-image: url('../images/sprites-sf344647439.png');
  background-position: 0 -353px;
  background-repeat: no-repeat;
  display: block;
  height: 34px;
  height: 2.125rem;
  width: 65px;
  width: 4.0625rem;
  display: inline-block;
}
.sec-contact-info p.phone i:before {
  background-image: url('../images/sprites-sf344647439.png');
  background-position: 0 -512px;
  background-repeat: no-repeat;
  display: block;
  height: 49px;
  height: 3.0625rem;
  width: 27px;
  width: 1.6875rem;
  display: inline-block;
}

.sec-form {
  padding: 80px 0;
  padding: 5rem 0;
}
.sec-form h2 {
  padding: 0 0 30px;
  padding: 0 0 1.875rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.sec-form-input {
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0 0 15px;
  margin: 0 0 0.9375rem;
  padding: 5px 20px;
  padding: 0.3125rem 1.25rem;
  background: #fff;
  border: 0;
  color: #000;
  display: block;
  font-family: 'Titillium Web';
  width: 100%;
}
.sec-form-input:-moz-placeholder {
  color: #000;
}
.sec-form-input::-moz-placeholder {
  color: #000;
}
.sec-form-input:-ms-input-placeholder {
  color: #000;
}
.sec-form-input::-webkit-input-placeholder {
  color: #000;
}

.sec-form-textarea {
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0 0 15px;
  margin: 0 0 0.9375rem;
  padding: 5px 20px;
  padding: 0.3125rem 1.25rem;
  background: #fff;
  font-family: 'Titillium Web';
}
.sec-form-textarea p {
  padding-bottom: 4px;
  padding-bottom: 0.25rem;
  border-bottom: 1px dotted #f2f0eb;
}
.sec-form-textarea textarea {
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  min-height: 120px;
  min-height: 7.5rem;
  background: #fff;
  border: 0;
  font-family: 'Titillium Web';
  width: 100%;
}

.sec-form-radio {
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  padding-top: 10px;
  padding-top: 0.625rem;
  font-family: 'Titillium Web';
}
.sec-form-radio label {
  margin-bootm: 10px;
  margin-bootm: 0.625rem;
  cursor: pointer;
  display: block;
}
.sec-form-radio input {
  top: 1px;
  top: 0.0625rem;
  color: #eb524f;
  position: relative;
}

.sec-form-submit {
  padding-top: 30px;
  padding-top: 1.875rem;
  text-align: center;
}

.btn {
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  -moz-box-shadow: 0 0px 10px -1px #969696;
  -webkit-box-shadow: 0 0px 10px -1px #969696;
  box-shadow: 0 0px 10px -1px #969696;
  font-weight: 300;
  font-size: 17px;
  font-size: 1.0625rem;
  min-width: 248px;
  min-width: 15.5rem;
  padding: 12px 12px;
  padding: 0.75rem 0.75rem;
  background-color: #eb524f;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.btn-apply {
  background-color: #eb524f;
  color: #fff;
}

.btn-submit {
  background-color: #eb524f;
  color: #fff;
  border: 0;
}

@media (min-width: 47.563em) {
  .main {
    margin-left: 200px;
    margin-left: 12.5rem;
    padding: 0 35px;
    padding: 0 2.1875rem;
  }
  .open-nav .main {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .sec-header-logo {
    height: 350px;
    height: 21.875rem;
    line-height: 350px;
    line-height: 21.875rem;
    margin-bottom: 40px;
    margin-bottom: 2.5rem;
    width: 350px;
    width: 21.875rem;
  }

  .sec-about {
    padding: 60px 0;
    padding: 3.75rem 0;
  }
  .sec-about > ul {
    margin: 0 0 32px;
    margin: 0 0 2rem;
    display: block;
  }
  .sec-about > select {
    display: none;
  }

  .sec-apply-list {
    padding: 40px 0;
    padding: 2.5rem 0;
  }
  .sec-apply-list li {
    font-size: 21px;
    font-size: 1.3125rem;
    padding: 20px 0;
    padding: 1.25rem 0;
  }
  .sec-apply-list li span {
    font-size: 32px;
    font-size: 2rem;
  }
  .sec-apply-list li i {
    display: none;
  }

  .sec-contact {
    padding: 100px 0;
    padding: 6.25rem 0;
  }
  .sec-contact h3 {
    padding: 0 0 40px;
    padding: 0 0 2.5rem;
  }

  .sec-contact-info p {
    font-size: 21px;
    font-size: 1.3125rem;
    padding: 20px 0;
    padding: 1.25rem 0;
  }
  .sec-contact-info p.mail {
    padding-right: 30px;
    padding-right: 1.875rem;
  }

  .sec-form {
    padding: 120px 0;
    padding: 7.5rem 0;
  }
  .sec-form h2 {
    padding: 0 0 60px;
    padding: 0 0 3.75rem;
    font-size: 24px;
    font-size: 1.5rem;
  }
  .sec-form h2:before, .sec-form h2:after {
    background-image: url('../images/sprites-sf344647439.png');
    background-position: 0 -644px;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    height: 1.25rem;
    width: 27px;
    width: 1.6875rem;
    margin: 0 20px;
    margin: 0 1.25rem;
    content: '';
    display: inline-block;
  }
}
@media (min-width: 60.063em) {
  .main {
    padding: 0 145px;
    padding: 0 9.0625rem;
  }

  .sec-header-logo {
    height: 410px;
    height: 25.625rem;
    line-height: 410px;
    line-height: 25.625rem;
    margin-bottom: 60px;
    margin-bottom: 3.75rem;
    width: 410px;
    width: 25.625rem;
  }

  .sec-about {
    padding: 85px 0;
    padding: 5.3125rem 0;
  }
  .sec-about > ul {
    margin: 0 0 42px;
    margin: 0 0 2.625rem;
  }

  .sec-apply-list {
    padding: 65px 0;
    padding: 4.0625rem 0;
  }
  .sec-apply-list li {
    font-size: 23px;
    font-size: 1.4375rem;
    padding: 20px 0;
    padding: 1.25rem 0;
  }
  .sec-apply-list li span {
    font-size: 42px;
    font-size: 2.625rem;
  }
  .sec-apply-list li i {
    width: 170px;
    width: 10.625rem;
    display: inline-block;
  }

  .sec-contact {
    padding: 160px 0;
    padding: 10rem 0;
  }
  .sec-contact h3 {
    padding: 0 0 60px;
    padding: 0 0 3.75rem;
  }

  .sec-contact-info p {
    font-size: 23px;
    font-size: 1.4375rem;
    padding: 20px 0;
    padding: 1.25rem 0;
  }
  .sec-contact-info p.mail {
    padding-right: 50px;
    padding-right: 3.125rem;
  }
}
.main-nav {
  -moz-box-shadow: 5px 0px 10px 0px #969696;
  -webkit-box-shadow: 5px 0px 10px 0px #969696;
  box-shadow: 5px 0px 10px 0px #969696;
  padding: 0 20px;
  padding: 0 1.25rem;
  width: 200px;
  width: 12.5rem;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #eb524f;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-content {
  height: 100%;
  position: relative;
}
.nav-content .nav-logo {
  padding: 50px 0 60px;
  padding: 3.125rem 0 3.75rem;
  text-align: center;
}
.nav-content .nav-menu {
  text-align: center;
}
.nav-content .nav-menu li {
  font-size: 16px;
  font-size: 1rem;
  padding: 20px 0;
  padding: 1.25rem 0;
  text-transform: uppercase;
}
.nav-content .nav-menu a {
  color: #fff;
}
.nav-content .nav-bottom {
  padding: 22px 0 32px;
  padding: 1.375rem 0 2rem;
  bottom: 0;
  border-top: 1px dotted #fff;
  position: absolute;
  width: 100%;
}
.nav-content .nav-bottom .nav-fb {
  color: #fff;
  display: block;
  text-align: center;
}
.nav-content .nav-bottom .nav-fb:before {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  speak: none;
  font-size: 32px;
  font-size: 2rem;
  padding: 0 0 12px;
  padding: 0 0 0.75rem;
  display: block;
  text-align: center;
}

.nav-icon {
  padding-left: 20px;
  padding-left: 1.25rem;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #eb524f;
  position: fixed;
  width: 100%;
  z-index: 201;
}
.nav-icon i {
  color: #fff;
  cursor: pointer;
  display: block;
}
.nav-icon i:before {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  speak: none;
  font-size: 32px;
  font-size: 2rem;
  padding: 0 0 12px;
  padding: 0 0 0.75rem;
}
.open-nav .nav-icon {
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -webkit-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

@media (min-width: 47.563em) {
  .nav-icon {
    display: none;
  }
  .open-nav .nav-icon {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/*# sourceMappingURL=styles.css.map */
