
<section class="sec-sponsors" id="Guides">
  <h3>Ghid</h3>
  <p>
    Documentul-ghid se află aici: <a href="http://bit.ly/1EMP3mj">google doc</a>
  </p>
  <br/>
  <p>
    Vă urăm succes :)
  </p>
</section>